{% extends 'base/base.html' %}

{% block main_content %}

    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Location:</th>
                <th>Employees count:</th>
                <th>Budget:</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td>{{ department.location }}</td>
                    <td>{{ department.employees_count }}</td>
                    <td>{{ department.budget }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <ol>
        {% for person in people %}
            <li>{{ person }}</li>
        {% endfor %}
    </ol>

{% endblock %}