{% extends 'base/base.html' %}

{% block page_content %}
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'show index' %}">MyPlants</a></h1>
        <nav>
            <a href="{% url 'show catalogue' %}">Catalogue</a>
            <a href="{% url 'create plant' %}">Create Plant</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- create plant form -->
    <section id="create-page" class="auth">
        <form method="post" action="{% url 'create plant' %}" id="create">
            {{ form.as_p }}
            {{ form.errors }}
            {% csrf_token %}

            <input class="btn" type="submit" value="Create Plant">
        </form>
    </section>
{% endblock %}
