<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unbound Forms</title>
</head>
<body>
    <h1>Here are some pure HTML forms...</h1>
    <form>
        <h3>Text</h3>
        <input type="text" required>

        <h3>Email</h3>
        <input type="email" required>

        <h3>Password</h3>
        <input type="password" required>

        <h3>Range</h3>
        <input type="range" required>

        <h3>Options list</h3>
        <select>
            <option>First</option>
            <option>Second</option>
            <option>Third</option>
        </select>

        <h3>CheckBox</h3>
        <input type="checkbox" required>
        <input type="checkbox" required>
        <input type="checkbox" required>

        <h3>Radio Buttons</h3>
        <input type="radio" name="radio">
        <input type="radio" name="radio">
        <input type="radio" name="radio">
        <input type="radio" name="radio">

        <h3>File</h3>
        <input type="file" required>

        <h3>And many more...</h3>

        <button>Save!</button>
    </form>
</body>
</html>